<div class="container">
  <div class="row">
    <div class="col-md-12 col-sm-12">
      <div class="main-content">
        <div class="header">
          <span id="title"> {{ title }} </span>
          <div class="logo">
            <a href="https://stackoverflow.com" target="_blank">
              <img src= "../assets/Images/stack-icon.png" class="soLogo">
            </a>
          </div>
        </div>        
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-10">
      <app-stackoverflow-gallery></app-stackoverflow-gallery>
    </div>
  </div>
</div>
    